﻿{% extends 'base.html' %}

{% block title %}{{block.super}} Impressum{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm">     
            <div class="card">
                <img src="https://www.kindpng.com/picc/m/4-41409_developer-png-png-download-developer-png-no-background.png" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">Product Owner</h5>
                <p class="card-text">Pauline von Olberg</p>
                </div>
            </div>
        </div>

    
        <div class="col-sm">
          <div class="card">
            <img src="https://www.kindpng.com/picc/m/4-41409_developer-png-png-download-developer-png-no-background.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Scrum Master</h5>
              <p class="card-text">Cihat Sariyar</p>
            </div>
        </div>
        </div>
       
        <div class="col-sm">
            <div class="card">
              <img src="https://www.kindpng.com/picc/m/4-41409_developer-png-png-download-developer-png-no-background.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Developer</h5>
                <p class="card-text">Wael Muhsen</p>
              </div>
            </div>
        </div>

          <div class="col-sm">
            <div class="card">
              <img src="https://www.kindpng.com/picc/m/4-41409_developer-png-png-download-developer-png-no-background.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Developer</h5>
                <p class="card-text">Jan Heimendahl</p>
              </div>
            </div>
          </div>

          <div class="col-sm">
            <div class="card">
              <img src="https://www.kindpng.com/picc/m/4-41409_developer-png-png-download-developer-png-no-background.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Developer</h5>
                <p class="card-text">Leandra Großpietsch</p>
              </div>
            </div>
          </div>
        </div>
    </div>  
</div> 
  
    
{% endblock %}