{% extends 'base.html' %}
{% block title %}{{block.super}} Startseite{% endblock %}

{% block content %}


<body>
    <div class="cover">
        <div class="centered-content">
            <p class="content aligncenter">Reserviere bequem deinen Arbeitsplatz</p>
        </div>
    </div>

    <div class="box">
        <p class="textbox-headline aligncenter">Noch verfügbare Plätze:<br>{{workplaces.count}}<br>
            {% if request.user.id is None %}
            <a class="btn btn-secondary btn-lg mt-3 " href="{% url 'login' %}">Jetzt buchen!</a>
            {% else %}
            <a class="btn btn-secondary btn-lg mt-3 " href="{% url 'arbeitsplaetze' %}">Jetzt buchen!</a>
            {% endif %}
        </p>
    </div>

</body>

{% endblock %}