{% extends 'base.html' %}


{% block title %}{{block.super}} Nutzer{% endblock %}

{% block content %}

<body>
    {% if current_user.id is None %}
    <h1 class="aligncenter">Bitte logge dich ein.</h1>
    {% else %}
    <div class="card" >
        <div class="card-header">
            <h5>Kontoinformationen:</h5>
        </div>
        <p class="aligncenter">
            <img src="https://cdn.pixabay.com/photo/2017/10/07/07/27/thumbs-up-2825687_960_720.jpg" class="card-img-top"
            alt="Thumps Up" style="width: 40rem">
        </p>
        
        <div class="card-body">
            <h1 class="card-title">Benutzername: {{current_user.username}}</h1>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Vorname: {{current_user.first_name}}</li>
                <li class="list-group-item">Nachname: {{current_user.last_name}}</li>
                <li class="list-group-item">E-Mail: {{current_user.email}}</li>
                <li class="list-group-item">Letzer Login: {{current_user.last_login}}</li>
                <li class="list-group-item">Kontoerstellung: {{current_user.date_joined}}</li>
            </ul>
        </div>
        
        <div class="card-footer">
            <div class="text-end">
                <a href="{% url 'profile' %}" class="btn btn-info">Profil ändern</a>
                <a href="{% url 'password' %}" class="btn btn-info">Passwort zurücksetzen</a>
                <a href="{% url 'delete-user' current_user.username %}" class="btn btn-danger">Profil löschen</a>
                <a href="{% url 'logout' %}" class="btn btn-danger">Logout</a>
            </div>
        </div>
        {%endif%}
    </div>
</body>
{% endblock %}