{% extends 'base.html' %}

{% block title %}{{block.super}} Nutzer{% endblock %}

{% load static %}

{% block content %}
<style>

.rounded-circle {
border: 3px solid #c06020;
padding: 5px;
border-radius: 50% !important;
width: 270px;
box-shadow: 2px  1px  20px 5px #BC6C25;
}

</style>

<body>
    {% if current_user.id is None %}
    <h1 class="aligncenter pt-5 pb-5" style="color: white">Bitte logge dich ein.</h1>
    {% else %}
        <div class="card-header">
            <h5>Kontoinformationen:</h5>
        </div>
        <div class="aligncenter pt-5">
            {% if request.user.profile_user.avatar %}
                <img src="{{request.user.profile_user.avatar.url}}" class="rounded-circle">
            {% else %}
                <img src="{% static 'images/anonymous.jpg' %}" class="rounded-circle">
            {% endif %}
            
            <h1 class="pt-2">{{current_user.username}}<h1>
        </div>
        <br>
        <div class="card-body" style="margin-left:5%; margin-right:5%;">
            <h2 class="card-title">Benutzer Informationen:</h2>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Vorname: {{current_user.first_name}}</li>
                <li class="list-group-item">Nachname: {{current_user.last_name}}</li>
                <li class="list-group-item">E-Mail: {{current_user.email}}</li>
                <li class="list-group-item">Letzer Login: {{current_user.last_login}}</li>
                <li class="list-group-item">Kontoerstellung: {{current_user.date_joined}}</li>
            </ul>
        </div>
        
        <div class="card-footer" style="margin-left:5%; margin-right:5%;">
            <div class="text-end">
                <a href="{% url 'profile' %}" class="btn btn-info">Profil ändern</a>
                <a href="{% url 'password' %}" class="btn btn-info">Passwort ändern</a>
                <a data-bs-toggle="modal" data-bs-target="#userModal" class="btn btn-danger">Profil löschen</a>
                <a href="{% url 'logout' %}" class="btn btn-danger">Logout</a>
            </div>
        </div>

        <!-- Modal for User Delete -->
    <div class="modal fade" id="userModal" tabindex="-1" aria-labelledby="userModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="userModalLabel">Profil löschen</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Schließen"></button>
                </div>
                <div class="modal-body">
                <p>Achtung! Wenn du dein Profil löschst gehen alle deine Informationen und Reservierungen verloren.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Schließen</button>
                    <a href="{% url 'delete-user' current_user.username %}" type="button" class="btn btn-danger">Profil löschen</a>
                </div>
            </div>
        </div>
    </div>
        {%endif%}

</body>
{% endblock %}