{% extends 'base.html' %}
{% block title %}Stars-Register{% endblock %}
{% block content_2 %}

      <section class="mb-5 pb-5">
        <p class="textbox-headline aligncenter pb-5 pt-5 pensum_font" style="color: rgb(49, 151, 139)">Registrieren</p>
          
            <form method="POST">
              {% csrf_token %} 
                {% for field in form %}
                    {% if field == form.username %}
                      <div class="mb-3">
                          <b>{{ field.label_tag }}</b>
                          {{ field }}
                          <div id="emailHelp" class="form-text">Erforderlich. 100 Zeichen oder weniger. Nur Buchstaben, Ziffern und @/./+/-/_.</div>
                          {% for error in field.errors %}
                            <p style="color:red">{{error}}</p>
                          {% endfor %}
                      </div>
                    {% elif field == form.password1 %}
                      <div class="mb-3">
                          <b>{{ field.label_tag }}</b>
                          {{ field }}
                          {% for error in field.errors %}
                              <p style="color:red">{{error}}</p>
                          {% endfor %}
                          <br>
                          <ul>
                            <li>Dein Passwort darf deinen anderen persönlichen Daten nicht zu ähnlich sein.</li>
                            <li>Dein Passwort muss mindestens 8 Zeichen enthalten.</li>
                            <li>Dein Passwort darf kein allgemein verwendetes Passwort sein.</li>                                    
                            <li>Dein Passwort darf nicht vollständig numerisch sein.</li>
                          </ul>
                      </div>
                    {% elif field == form.password2 %}
                      <div class="mb-3">
                        <b>{{ field.label_tag }}</b>
                        {{ field }}
                        <div id="emailHelp" class="form-text">Gib bitte zur Bestätigung dasselbe Passwort wie zuvor ein.</div> 
                        {% for error in field.errors %}
                          <br>
                          <p style="color:red">{{error}}</p>
                        {% endfor %}
                      </div>
                      {% else %}
                      <div class="mb-3">
                        <b>{{ field.label_tag }}</b>
                        {{ field }}
                        {% for error in field.errors %}
                          <p style="color:red">{{error}}</p>
                        {% endfor %}
                      </div>
                    {% endif %} 
                  
                {% endfor %}
                <br>
                <button class="btn btn-success my-3" type="submit" style="background-color: rgb(49, 151, 139)">Registrieren</button>   
            </form>            
            <br>
            <br>
            <p class = 'text-center'>Bist du schon registriert? <a href="{% url 'login' %}" class="loginhere-link" style="color: rgb(49, 151, 139)"><b>hier einloggen</b></a></p>  
      </section>     
{% endblock %}