{% extends 'base.html' %}

{% block title %}{{block.super}} Reservation-Slots{% endblock %}

{% block content %}
    <article class="a-article">
        {% if set_res %}
        <h3>Such dir eine Zeitspanne aus.</h3>
        {% for r in set_res %}
        <p>
        <a class="container" href="{% url 'reserve' r wp.id %}" >
            {% for key,value in slots_times.items %}
            {% if key == r %}
            Zeit: {{value}}
            {% endif %}
            {% endfor %}
        </a>
        </p>
        {% endfor %}
                {% else %}
        <h5>Keine Slots mehr verfügbar.</h5>
        {% endif %}
    </article>
{% endblock %}