{% extends 'base.html' %}


{% block title %}{{block.super}} Reservierungen{% endblock %}


{% block content %}
    {% if request.user.id is None %}
      <h1 class="aligncenter pt-5 pb-5" style="color: white">Bitte logge dich ein.</h1>
    {% else %}
    {% if messages %}
    <ul>
        {% for message in messages %}
              <div class="alert alert-info" id="message_container" role="alert" style="width: 45%; margin: auto">
                 {{ message }}
              </div>
         <!--     <span aria-hidden="true">&times;</span> -->
        {% endfor %}
    </ul>
    {% endif %}


<!-- Reservation 
<h3>Deine Reservierungen:</h3>-->
<p class="textbox-headline aligncenter pt-5">Deine Reservierungen:</p><br>

<!--  Filter for Reservation  -->
<p class="aligncenter">
            <form method="get" class="aligncenter">
            <label for="id_date" class="btn btn-secondary">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar-date" viewBox="0 0 16 16">
                <path d="M6.445 11.688V6.354h-.633A12.6 12.6 0 0 0 4.5 7.16v.695c.375-.257.969-.62 1.258-.777h.012v4.61h.675zm1.188-1.305c.047.64.594 1.406 1.703 1.406 1.258 0 2-1.066 2-2.871 0-1.934-.781-2.668-1.953-2.668-.926 0-1.797.672-1.797 1.809 0 1.16.824 1.77 1.676 1.77.746 0 1.23-.376 1.383-.79h.027c-.004 1.316-.461 2.164-1.305 2.164-.664 0-1.008-.45-1.05-.82h-.684zm2.953-2.317c0 .696-.559 1.18-1.184 1.18-.601 0-1.144-.383-1.144-1.2 0-.823.582-1.21 1.168-1.21.633 0 1.16.398 1.16 1.23z"/>
                <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
            </svg>
            </label>
            {{date_workplace_form.date}}
            <label for="id_wp" class="btn btn-secondary" style="margin-left: 2%">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-workspace" viewBox="0 0 16 16">
                <path d="M4 16s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H4Zm4-5.95a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z"/>
                <path d="M2 1a2 2 0 0 0-2 2v9.5A1.5 1.5 0 0 0 1.5 14h.653a5.373 5.373 0 0 1 1.066-2H1V3a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v9h-2.219c.554.654.89 1.373 1.066 2h.653a1.5 1.5 0 0 0 1.5-1.5V3a2 2 0 0 0-2-2H2Z"/>
            </svg>
            </label>
            {{date_workplace_form.wp}}
            <input class="btn btn-secondary" type="Submit" value="Filter anwenden" style="margin-left: 2%">
            </form>
        </p>
<!--  End of filter  -->

<!-- Button trigger modal for Reservation -->
{% for r in reservations %}
    <p class="aligncenter">
<!-- 1 aligncenter">{{r.id}}. Reservierung des Arbeitsplatzes  -->

        <a class="reserve-link container f1 aligncenter" type="button" data-bs-toggle="modal" data-bs-target="#reservationModal{{r.id}}">
            <h3 class="f1 aligncenter">{{r.id}}. Reservierung des Arbeitsplatzes
            {% for res_wp in r.wp.all %}
            {{res_wp}} :
            </h3>
        </a>
        {% endfor %}
        
        <p><h5 class="container f1 aligncenter">Datum: {{r.date|date:"D, d M Y"}}</h5>
            {% for key,value in slots.items %}
            {% if key == r.time %}
            <h5 class="container f1 aligncenter">Zeit: {{value}}</h5>
            {% endif %}
            {% endfor %}
        </p>
      
    </p>

<!-- Modal for Reservation -->
<div class="modal fade" id="reservationModal{{r.id}}" tabindex="-1" aria-labelledby="reservationModalLabel{{r.id}}" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="reservationModalLabel{{r.id}}">Reservierung: {{r.id}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Schließen"></button>
      </div>
      <div class="modal-body">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">User: {{r.user}}</li>
            <li class="list-group-item">Arbeitsplatz:
                {% for wpr in r.wp.all %}
                {{wpr}}
                {% endfor %}
            </li>
            <li class="list-group-item">Tag: {{r.date|date:"D, d M Y"}}</li>
            <li class="list-group-item">Zeit:
                {% for key,value in slots.items %}
                {% if key == r.time %}
                {{value}}
                {% endif %}
                {% endfor %}
            </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Schließen</button>
        <a href="{% url 'delete_reserve' r.id %}" type="button" class="btn btn-danger">Reservierung stornieren</a>
      </div>
    </div>
  </div>
</div>
{% empty %}
<h5 class="container f1 aligncenter">Keine Reservierungen vorhanden.</h5>
{% endfor %}

<!-- Workplace 
<h3>Verfügbare Arbeitsplätze:</h3>-->
<!-- Button trigger modal for Workplaces 
{% for w in workplaces %}
<p style="border: thin solid green">
    <p>
        Arbeitsplatz: {{w.nummer}}
        <a class="container" type="button"  data-bs-toggle="modal" data-bs-target="#workplaceModal{{w.id}}">
        &#9432
        </a>
    </p>
    <p>
        <a href="{% url 'timeslots' w.nummer %}">
         &#9654; Hier klicken für das Reservieren des Arbeitsplatzes {{w.nummer}} &#9664;
        </a>
    </p>
</p>-->
<!-- Modal for Workplaces
<div class="modal fade" id="workplaceModal{{w.id}}" tabindex="-1" aria-labelledby="workplaceModalLabel{{w.id}}" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="workplaceModalLabel{{w.id}}">Arbeitsplatz: {{w.nummer}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Schließen"></button>
      </div>
      <div class="modal-body">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Geräte: {{w.geraete}}</li>
            <li class="list-group-item">Anzahl der Personen: {{w.anzahlPersonen}}</li>
            <li class="list-group-item">Sonstiges: {{w.sonstiges}}</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Schließen</button>
      </div>
    </div>
  </div>
</div>

{% empty %}
<h5>Keine Arbeitzplätze vorhanden.</h5>
{% endfor %}
-->
<script>
  var message_ele = document.getElementById("message_container");

setTimeout(function(){ 
   message_ele.style.display = "none"; 
}, 4000);
</script>
    {% endif %}
{% endblock %}