{% extends 'base.html' %}
{% block title %}{{block.super}} Einstellungen - Passwort{% endblock %}
{% block content %}
    <article>
        <div class="input-box questrial_font mt-4" style="color:#FEFAE0;">
        <h3>Benutzer: {{form.instance}}</h3>
        <form method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <br>
            <input class="btn btn-secondary my-3" type="submit" value ="Passwort Speichern"/>
        </form>
        <br>
    </div>
    </article>
{% endblock %}