* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Pensum';
    src: url("/static/fonts/PensumDisplay-Black.otf");
}

@font-face {
    font-family: 'Questrial';
    src: url("/static/fonts/Questrial-Regular.ttf");
}

.f1 {
    color: #FEFAE0;
    font-family: Questrial;
}

.bar {
    background: #606c38;
    z-index: 1;
    position: relative;
}

a:hover {
    color: #283618 !important;
}

.nav-link {
    color: #FEFAE0 !important;
}

.btn-outline-info:hover {
    color: #BC6C25 !important;
    background-color: #DDA15E !important;
    border-color: #DDA15E !important;
}

.btn-info:hover {
    color: #BC6C25 !important;
    background-color: #DDA15E !important;
    border-color: #DDA15E !important;
}

.btn-info {
    font-family: Questrial;
    color: #FEFAE0 !important;
    background-color: #283618 !important;
    border-color: #283618 !important;
}

.btn-outline-info {
    font-family: Questrial;
    color: #FEFAE0 !important;
    border-color: #283618 !important;
}

.btn-secondary {
    font-family: Questrial;
    color: #FEFAE0 !important;
    border-color: #606c38 !important;
    background-color: #606c38;
}

.btn-secondary:hover {
    color: #BC6C25 !important;
    background-color: #DDA15E !important;
    border-color: #DDA15E !important;
}

.centered-content {
    width: 100%;
    display: flex;
    height: 80vh;
    position: absolute;
    justify-content: center;
    align-items: center;
}

.content {
    font-family: Pensum;
    font-size: 70px;
    color: #FEFAE0;
    text-shadow: 4px 4px 8px black;
    line-height: 80px;
}

.cover {
    background-size: cover;
    background-position: center;
    top: 0;
    height: 80vh;
    width: 100%;
    position: relative;
    background-image: url('/static/images/home-1.jpeg');
}

.cover-imp {
    background-size: cover;
    align-self:flex-end;
    background-position: center¸;
    top: 0;
    height: 90vh;
    width: 60%;
    position: relative;
    background-image: url('/static/images/impressum.jpg');
}

.background-cover {
    background-color: #283618;
    background-size: cover;
    top: 0%;
    height: 80vh;
    width: 100%;
    position: relative;
    display: block;
}

.box {
    top: 0;
    height: 80vh;
    width: 100%;
    position: relative;
    background-color: #283618;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.textbox-headline {
    width: 100%;
    font-family: Questrial;
    font-weight: 800;
    font-size: 50px;
    color: #FEFAE0;
    line-height: 65px;
}

.aligncenter {
    text-align: center;
}

.seat{
    background-color: #99AC5D;
    height: 14px;
    width: 25px;
    margin: 3px;
    transition: all 0.2s ease-in-out;
}

.seat-highlight{
    background-color: #BC6C25;
    height: 14px;
    width: 25px;
    margin: 3px;
    transition: all 0.2s ease-in-out;
}

body {
    background: #283618;
}

.pensum_font {
    font-family: Pensum
}

.itemcenter {
    align-items: center
}

.row {
    display: flex;
}

.door {
    display: flex;
    vertical-align: middle;
    justify-content: center;
    background-color: #99AC5D;
    height: 15px;
    width: 40px;
}

.doorText {
    font-size: 12px;
    font-family: Questrial;
    color: #283618;
}

.dropdown {
    display: box;
    width: auto;
    padding: 0.2rem 0.5rem;
    font-size: 1rem;
    font-family: Questrial;
    line-height: 1.5;
    color: #FEFAE0;
    background-color: #BC6C25;
    background-clip: padding-box;
    border: 1px solid #BC6C25;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.seat:hover {
    color: #BC6C25 !important;
    background-color: #DDA15E !important;
    border-color: #DDA15E !important;
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
}

.modal-title{
    font-size: 30px;
    color: black;
    font-family: Pensum;  
}

.box-imp {
    top: 0;
    height: 90vh;
    width: 100%;
   
    background-color: #283618;
    display: flex;    
}

h-imp{
    font-family: Pensum;
    font-size: 50px;
    color: #FEFAE0;
}

c-imp-bold{
    font-family: Questrial;
    font-size: 26px;
    color: #FEFAE0;
    font-weight: 800;
}

c-imp{
    font-family: Questrial;
    font-size: 18px;
    color: #FEFAE0;
    font-weight: 400;
}