{% extends 'base.html' %}
{% block title %}STARS: Login{% endblock %}
{% block content_2 %}


  <section class="mb-5">
    <div class = "container">
      {% if messages %}
          {% for message in messages %}
              {% if message.level == 40 %} 
                <div class="alert alert-warning" role="alert" style="margin: 0 2% 0 0 ">
                  {{ message }}
                  <button type="button" class="btn-close " aria-label="Close" data-bs-dismiss = "alert" style="margin-left: 120px"></button>
                </div>
              {% elif message.level == 25 %}
                <div class="alert alert-info" role="alert" style="margin: 0 2% 0 0%">
                  {{message}}
                  <button type="button" class="btn-close " aria-label="Close" data-bs-dismiss = "alert" style="margin-left: 460px"></button>
                </div>
              {% else %}
                <div class="alert alert-success" role="alert" style="margin: 0 2% 0 0">
                {{message}}
                <button type="button" class="btn-close " aria-label="Close" data-bs-dismiss = "alert" style="margin-left: 190px"></button>
                </div>
              {% endif %}
          {% endfor %}
      {% endif %}
    </div>
          <p class="textbox-headline aligncenter pt-5 pb-5 pensum_font pensum_font" style="color: rgb(49, 151, 139)">Einloggen</p> 

          <div class = "form-group">
            <form method="post">
              {% csrf_token %}
              <div class="mb-3">     
                {% for field in form %}
                  <b>{{field.label_tag}}</b>  
                  {{ field }}
                </div>
                {% endfor %}
                <br>             
                <button class="btn btn-success my-3" type="submit" style="background-color: rgb(49, 151, 139)">Einloggen</button>
            </form>
            <p class = 'text-center'>Hast du noch kein Konto? <a href="{% url 'register' %}" class="loginhere-link" style="color: rgb(49, 151, 139)"><b> hier registrieren</b></a></p>
          </div>
  </section>

{% endblock %}