{% extends 'base.html' %}
{% block title %}STARS: Login{% endblock %}
{% block content_2 %}


  <section class="mb-5">
    <div class = "container">
      {% if messages %}
          {% for message in messages %}
              {% if message.level == 40 %} 
                <div class="alert alert-warning" role="alert" style="margin: 0 2% 0 0 ">
                  {{ message }}
                  <button type="button" class="btn-close " aria-label="Close" data-bs-dismiss = "alert" style="margin-left: 120px"></button>
                </div>
              {% elif message.level == 25 %}
                <div class="alert alert-info" role="alert" style="margin: 0 2% 0 0%">
                  {{message}}
                  <button type="button" class="btn-close " aria-label="Close" data-bs-dismiss = "alert" style="margin-left: 460px"></button>
                </div>
              {% else %}
                <div class="alert alert-success" role="alert" style="margin: 0 2% 0 0">
                {{message}}
                <button type="button" class="btn-close " aria-label="Close" data-bs-dismiss = "alert" style="margin-left: 190px"></button>
                </div>
              {% endif %}
          {% endfor %}
      {% endif %}
    </div>
    <div class="input-box">
          <p class="textbox-headline aligncenter pt-5 pb-4 pensum_font" style="color:#FEFAE0">Einloggen</p> 

          <div class = "form-group text-input-headline">
            <form method="post">
              {% csrf_token %}
              <div class="mb-3 text-input-headline">     
                {% for field in form %}
                  <b>{{field.label_tag}}</b>  
                  {{ field }}
                </div>
                {% endfor %}
                <br>             
                <button class="btn btn-secondary my-3" type="submit">Einloggen</button>
            </form>
            <p class = "text-center text-input-headline">Hast du noch kein Konto? <br><a href="{% url 'register' %}" 
              class="login-link">Hier registrieren</a></p>
          </div>
          </div>
  </section>

{% endblock %}